/* nav responsive */
@media screen and (max-width:576px) {
    nav,ul{
        flex-direction: column;
        text-align: center;
        height: 150px;
    }
    /* banner responsive */
    .banner-container{
        flex-direction: column;
    }
    .banner-item{
        width: 100%;
        text-align: center;
    }
    /* online game section */
    .image-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .for-image{
        width: 100%;
        margin: auto;
    }
    .online-game{
        text-align: center;
        margin-left: 60px;
    }
    /* play section */
    .play-container{
        flex-direction: column;
    }
    .rectangle{
        width: 200px;
        height: 200px;
    }
    
    /* botton section */
    .button-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 20px;
        padding-right: 0px;
    }
    /* footter section */
    .footer-description{
        display: grid;
        grid-template-columns: repeat(3,80px);
    }
    
}
@media screen and (min-width:576px) and (max-width:900px) {
     /* banner responsive */
     .banner-container{
        flex-direction: column;
    }
    .banner-item{
        width: 100%;
        text-align: center;
    }
    .image-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width:calc(100%-100px);
    }
    /* play section */
    .play-container{
        flex-direction: column;
    }
    /* botton section */
    .button-container{
        display: grid;
        grid-template-columns: repeat(3,200px);
        padding-left: 0px;
        padding-right: 0px;
        width:calc(100%-100px);
        margin-bottom: 100px;

        
    }
    
}